blockquote { 
    border-color: blue;
}

h1 { 
    text-align: center;
}

.margins { 
    margin-top: 20vh;
    font-size: 7vh;
    line-height: 20vh;
}

.marginP {
    margin-top: 5vh;
    font-size: 3vh;
}